---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import '../../styles/global.css'; // グローバルCSSの適用
import Navigation from '../../components/navigation.astro';
import Header from '../../components/header.astro';
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
    <Header />
    <body>
        <Navigation />
        ブログぅぅぅぅ
    </body>
</html>