---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
    <head>
        <title>Yaakiyu.web - Homepage</title>
        <link href="css/common_styles.css" rel="stylesheet" />
        <link href="css/mainpage.css" rel="stylesheet" />
    </head>
    <body>
        <p>どうも、yaakiyuです。どこにでもいる高校生プログラマー。基本的にPythonをやっています。discordでbotも作ってるのでぜひ使ってみてください。</p>
        <h1>自分がやっているSNSなど諸々</h1>
        <ul>
            <li><a href="https://twitter.com/yaakiyu1">twitter</a></li>
            <li>discord - yaakiyu</li>
            <li><a href="https://www.youtube.com/channel/UC0Sm3Pb3gC-yLQh4Mr_jp_g">youtube</a></li>
            <li><a href="https://mstdn.jp/@yaakiyu">mstdn.jp</a> (ほぼ使わない)</li>
            <li><a href="https://pawoo.net/web/accounts/5659034">pawoo</a> (ほぼ使わない)</li>
            <li><a href="https://ja.wikipedia.org/wiki/%E5%88%A9%E7%94%A8%E8%80%85:Yaakiyu.jp">Wikipedia</a></li>
            <li><a href="https://scratch.mit.edu/users/yaakiyu">scratch</a> (あまり使わない)</li>
            <li><a href="https://pythonja.miraheze.org/wiki/%E5%88%A9%E7%94%A8%E8%80%85:Yaakiyu.jp">マイナーなwiki関連</a></li>
            <li><a href="https://misskey.io/@yaakiyu">misskey.io</a></li>
            <li><a href="https://misskey.kyoupro.com/@yaakiyu">Misskey競プロ鯖</a></li>
            <li><a href="https://misskey.nakn.jp/@yaakiyu">なりかくんサーバー</a></li>
        </ul>
        <h1>自分が開発に携わったDiscord Bot</h1>
        <ul>
            <li><a href="https://sakura-bot.net/">Sakura Bot</a> - 多機能bot。今は開発にかかわっていません。</li>
            <li><a href="https://rt.neody.land/">RT</a> - 開発チームの一員をやっています(あまり働いてない)。なお規模は自分の関わってきたものの中で最もでかい</li>
        </ul>
        <h1>所属している(していた)グループ</h1>
        <ul>
            <li><a href="group/rext.html">Rext</a> - RTの運営をしています。</li>
            <li><a href="group/sina_chan.html">チーム☆思惟奈ちゃん</a> - 思惟奈ちゃんbotの運営などを行っています。あまり働いてはいません。</li>
            <li><a href="group/ysmservice.html">Ysmservice</a> - YsmbotやYsmwikiなどの運営をしています。</li>
            <li><a href="group/sakura_project.html">Sakura Project</a> - かつて所属していました。SakuraBotの開発などを中心に行っていました。</li>
        </ul>
    </body>
</html>
