---
---
<head>
    <title>Yaakiyu.web - Blog</title>
    <meta charset="UTF-8" />
    <meta name="author" content="yaakiyu" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="yaakiyuのページ。私が作っているいくつかのサービスを見ることができます。">
    <meta name="keywords" content="yaakiyu,discord,RT,bot,wiki,プログラミング,programming">
    <meta name="generator" content={Astro.generator} >
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>